<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Registro de Contraseñas</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>

  <section id="sec-nav">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Contraseña Segura</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/views/save.html">Mis contraseñas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/views/season.html">Sesión</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>

  </section>


  <section id="sec-password-card">
    <div class="container">
      <div class="row">
        <div class="card-dark col-md-12 mt-5 mb-5 card-shadow">
          <h1>Registro de Contraseñas</h1>
          <form id="pass-form">
            <div class="row">
              <div class="col-md-12">
                <p class="mt-2">Nombre del sitio web: <input type="text" id="pass-site" placeholder="Nombre del sitio" autofocus>
                </p>
              </div>
              <div class="col-md-12">
                <p class="mt-2">Nombre de usuario: <input type="text" id="pass-username"
                    placeholder="Nombre de usuario"></p>
              </div>
              <div class="col-md-12">
                <p class="mt-2">Contraseña: <input type="password" id="pass-password" placeholder="Contraseña"></p>
              </div>
              <button class="mt-3 btn btn-dark" id="btn-pass-form">Guardar contraseña</button>

            </div>

          </form>
        </div>
      </div>
  
   
      <div id="pass-container" class="row">
        <div class="card-dark col-md-12 mt-5 mb-5 card-shadow">
          <h1>Mis Contreseñas</h1>
          
        </div>
      </div>
    
  </div>
  </section>

  <script type="module" src="/js/firebase.js"></script>
 


</body>
</html>